@font-face {
 font-family: "Futura";
 src: url("/fonts/Futura.woff") format("woff");
}

body {
  background-image: url("images/test_rorscharh.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Futura', sans-serif;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  margin: 0px auto;
  display:block;
}

.card_white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  }

.fab {
    color: #D138BF;
    font-size: 32px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

h1, h3 {
  text-align: center;
  color: #4A306D;
  font-size:48px;
  margin-block-start: .5em;
  margin-block-end: .5em;
}

h2 {
  color: #4357AD;
}


p {
  color: #4357AD;
}

.compétence {
  list-style: none;
  text-align: left;
  color: #4357AD;
}

#compétence {
  font-size: 42px;
}
